@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}

body{
    background-color: #f5f8ff;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.btn{
    font-size: 16px;
    font-weight:400;
    font-family: "Raleway", sans-serif;
    background-color: #4E47FF;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
}

.logo{
    font-size: 34px;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-weight: 1000;
    text-transform: uppercase;
}

/* Header section css start */

header{
    width: 100%;
    height: 698px;
    background-image: url(./images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.hero h1{
    font-size: 65px;
    font-family: "Raleway", sans-serif;
    padding: 19px 77px;
}
.hero{
    text-align: center;
    padding-top: 194px;
}

/* Header section css end */
/* section action css start */

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}

.action img {
    border-radius: 40px;
}

.action h1{
    font-size: 42px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;

}
.action p{
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #8c8e98;
}

.action .text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.action .text .btn{
    align-self: flex-start;
}

/* section action css start */

/* user section css start */

.user{
    background-color: #e5e7ff;
    margin: 40px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    border-radius: 20px;
    gap: 20px;

}
.user h2{
    font-size: 38px;
    font-family: "Raleway", sans-serif;
}

.feedback {
    display: flex;
    gap: 200px;
    padding: 30px 0px;
}

.feedback_content{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.feedback_content h1{
    font-size: 80px;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
}
.feedback_content p{
    font-size: 20px;
    color: #8c8e98;
    font-family: "Inter", sans-serif;
}

/* user section css End */

/* user_say section css start */

.user_say{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway", sans-serif;
}
.card{
    width: 300px;
    background-color: #fafcff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.reviewer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.reviewer img {
    border-radius: 50%;
}

.reviewer h3,p {
    color: #8c8e98;
}

/* user_say section css End */